/* Global styles {{{ */
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

body {
  background: #fff;
  font-size: 1.6em;
  overflow-x: hidden;
}

body * {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* }}} */

/* Header {{{ */
.header-bar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bar > .logo {
  max-width: 50%;
  width: 20rem;
}

.header-bar > .button {
  margin-left: auto;
}

@media (min-width: 1200px) {
  .header-bar {
    padding: 8rem 6rem;
  }
}

/* }}} */

/* Hero {{{ */
.hero-section {
  padding: 7rem 2rem;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 1200px) {
  .hero-section {
    background-image: url(/img/background-splash.svg);
  }
}

.hero-section > .image {
  max-width: 45rem;
  margin-bottom: 5rem;
  width: 85%;
}

@media (min-width: 1200px) {
  .hero-section {
    flex-direction: row;
  }

  .hero-section > .image {
    max-width: 55rem;
    margin-bottom: 0;
    margin-left: 15rem;
  }
}

/* }}} */

/* Hero content {{{ */
.hero-content {
  text-align: center;
}

.hero-content > .title {
  color: #334;
  font-size: 4.9rem;
  font-weight: 800;
  margin-bottom: 3rem;
  line-height: 1;
}

.hero-content > .title > :first-child {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;

  /* font-weight: 900; */
}

.hero-content > .title > :first-child::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 70%;
  left: -1rem;
  height: 2.2rem;
  overflow: hidden;
  background: #e2cecc;
  z-index: -1;
}

.hero-content > .blurb {
  max-width: 65rem;
  font-size: 2.4rem;
  line-height: 1.3;
  margin: 0 auto 3rem;
}

@media (min-width: 1200px) {
  .hero-content > .title {
    font-size: 6.9rem;
    margin-bottom: 2rem;
    line-height: 1.2;
  }

  .hero-content > .blurb {
    font-size: 2.9rem;
    line-height: 1.4;
    margin: 0 0 4rem;
  }

  .hero-content {
    text-align: left;
  }
}

/* }}} */

/* Button {{{ */
.primary-button {
  display: inline-block;
  border: 0 solid #d15f30;
  background: #d15f30;
  color: #fff;
  border-radius: 0.4rem;
  font-weight: 600;
  text-decoration: none;
  padding: 0 2.5rem;
  font-size: 1.8rem;
  line-height: 2.9;
  transition: background .2s ease-in-out;
}

.primary-button:hover {
  background: #d15f30dd;
}

/* }}} */
